/***********************/
/* General Element CSS */
/***********************/
html, body {
	width: 100%;
	height: 100%;
	background-color: #04BFBF;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/**************/
/* Header CSS */
/**************/
#name {
	font-family: 'Raleway Dots', cursive;
	font-size: 54px;
	color: #CAFCD8;
	text-align: center;
	margin-bottom: 5px;
}

#tag-line {
	font-family: 'Raleway Dots', cursive;
	font-size: 18px;
	color: #CAFCD8;
	text-align: center;	
	margin: 0;
}

/********************/
/* Main Content CSS */
/********************/ 
#home-container {
	height: 340px;
	width: 340px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -170px;
	margin-left: -170px;
}

/* Self Image */
#image {
	height: 200px;
	width: 200px;
	background: url(../images/self-color.jpeg) no-repeat center center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	border: 5px solid #CAFCD8;
	border-radius: 50%;
	cursor: pointer;
}

#image:hover {
	/*background: url(../images/self.jpeg) no-repeat center center;*/
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

/* Font Awesome Icons/Buttons */
.btn {
	font-size: 60px;
	color: #CAFCD8;
	cursor: pointer;
}

.btn:hover {
	color: #F7E967;
}

#code {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -30px;
	margin-left: -80px;
}

#git {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -30px;
	margin-right: -80px;
}

#mail {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
	margin-bottom: -80px;
}