html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url(../images/dark_wall.png);
}

hr {
	color: white;
	margin-top: 8%;
}

.clear {
	clear: both;
}

.last {
	margin-bottom: 5%;
}

/***** Nav Bar CSS *****/
.nav {
	color: #000000;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	white-space: nowrap;
	display: block;
	/*font-family: ‘Trebuchet MS’, Helvetica, sans-serif;*/
	font-family: 'Poiret One', cursive;
	font-size: 24px;
	text-shadow: 0px 0px 1px #333;
}

#sidebar {
	height: 100%;
	width: 5%;
	z-index: 5;
	position: fixed;
}

#panel1 {
	height: 33.33%;
	background-color: #FFFFFF;
	z-index: 5;
}

#about-me {
	position: relative;
	top: 30%;
	color: #FA4B2A;
}

#about-me:hover {
	cursor: pointer;
	text-shadow: 0px 0px 3px #FA4B2A;
}

#panel2 {
	height: 33.33%;
	background-color: #FFFFFF;
	z-index: 5;
}

#work {
	position: relative;
	top: 30%;
}

#work:hover {
	cursor: pointer;
	text-shadow: 0px 0px 3px #FA4B2A;
}

#panel3 {
	height: 33.33%;
	background-color: #FFFFFF;
	z-index: 5;
}

#contact {
	position: relative;
	top: 30%;
}

#contact:hover {
	cursor: pointer;
	text-shadow: 0px 0px 3px #FA4B2A;
}
/***** Nav Bar CSS End *****/

/***** About Me Container *****/
#about-container {
	margin-left: 10%;
	height: 100%;
	width: 90%;
	position: absolute;
	/*display: none;*/
}

#name {
	font-family: Playball, cursive;
	font-size: 70px;
	color: white;
}

#copy {
	color: white;
	font-size: 30px;
	font-family: 'Crete Round', serif;
	position: relative;
	top: 10%;
}

#stack {
	color: white;
	font-size: 30px;
	font-family: 'Crete Round', serif;
	position: relative;
	top: 20%;
}

#stack-container {
	color: white;
	font-size: 30px;
	font-family: 'Crete Round', serif;
	position: relative;
	top: 18%;
}

#categories {
	list-style-type: none;
	float: left;
	width: 80%;
	font-size: 25px;
}

#categories li {
	padding: 8px 0;
}

#answers {
	color: white;
	list-style-type: none;
}

.orange {
	color: #FA4B2A;
}

.white {
	color: white;
	margin-left: 5%;
	font-size: 22px;
}
/***** About Me Container End *****/


/***** My Work Container *****/
#work-container {
	margin-left: 10%;
	height: 100%;
	width: 90%;
	position: absolute;
	display: none;
}

#project-header {
	font-family: Playball, cursive;
	font-size: 70px;
	color: white;
}

#projects {
	height: 100%;
	width: 100%;
	margin-left: -1%;
}

.project {
	height: 65%;
	width: 80%;
	background-color: white;
	display: inline-block;
	margin: 5% 0 0 8%;
	cursor: pointer;
}

#boom-container {
	border: 5px solid white;
}

#revenge-container {
	border: 5px solid white;
}

#whistle-container {
	border: 5px solid white;
}

#boom-room {
	height: 100%;
	width: 100%;
}

#revenge {
	height: 100%;
	width: 100%;
}

#whistle {
	height: 100%;
	width: 100%;
}

.project-info {
	margin-top: 5%;
	width: 97%;
	background-color: white;
	text-align: center;
}

.project-title {
	font-family: Playball, cursive;
	color: black;
	font-size: 30px;
	margin-left: 5%;
	text-align: left;
}

.project-title a {
	color: black;
}

.project-title a:visited {
	color: black;
}

.project-bio {
	float: left;
	margin-left: 5%;
	margin-top: 1%;
	width: 40%;
	height: 100%;
	font-family: 'Crete Round', serif;
	font-size: 20px;
	text-align: left;
}

.project-link {
	text-decoration: none;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	padding: 2% 10%;
	color: white;
	background-color: black;
	border: 5px solid #FA4B2A;
}

.link-container {
	margin: 5% 0;
	text-align: center;
}

.project-tech {
	float: left;
	margin-left: 13%;
	margin-top: 1%;
	width: 40%;
	height: 100%;
	font-family: 'Crete Round', serif;
	font-size: 20px;
	text-align: left;
}

.tech-list {
	margin-top: 2%;
	margin-left: 5%;
}
/***** My Work Container End *****/

/***** Contact Me Container *****/
#contact-container {
	margin-left: 10%;
	height: 100%;
	width: 90%;
	position: absolute;
	display: none;
	text-align: center;
}

#contact-header {
	font-family: Playball, cursive;
	font-size: 70px;
	color: white;
	text-align: left;
}

#social {
	list-style-type: none;
}

#social-container {
	margin-top: 10%;
}

.social-icon {
	font-size: 150px;
	color: white;
	margin-top: 10%;
}

.social-icon:hover {
	color: #FA4B2A;
	cursor: pointer;
}

#contact-info {
	width: 60%;
	margin-left: 20%;
}

#email {
	color: white;
	font-size: 25px;
	font-family: 'Crete Round', serif;
	float: left;
	margin-top: 10%;
}

#phone {
	color: white;
	font-size: 25px;
	font-family: 'Crete Round', serif;
	margin-left: 15%;
	float: left;
	margin-top: 10%;
}

.text {
	color: white;
	font-family: 'Crete Round', serif;
	font-size: 20px;
	text-align: center;
	padding-top: 10%;
}

.left {
	float: left;
	padding: 0 5%;
}
/***** Contact Me Container End *****/

/***** Resume Page *****/
#resume-title {
	font-family: Playball, cursive;
	font-size: 70px;
	color: white;
	text-align: left;
	margin-bottom: 2%;
}

#pdf {
	height: 80%;
	width: 75%;
	margin-left: 12.5%;
	overflow-x: hidden;
}
/***** Resume Page End *****/








